<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean id="propertyConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" lazy-init="false">
        <property name="location">
            <value>classpath:ApplicationResources_zh_CN.properties</value>
        </property>
    </bean>
    <!--资源国际化文件的访问bean,可以直接访问名称+_+区域代码.properties-->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
            p:basename="classpath:ApplicationResources">
        <property name="defaultEncoding" value="utf-8"/>
        <!--设置刷新时间-->
        <property name="cacheSeconds" value="5"/>
    </bean>
    <import resource="springxml/dao.xml"/>
    <import resource="springxml/manager.xml"/>
    <import resource="springxml/util.xml"/>
    <import resource="springxml/timer.xml"/>
</beans>

