@charset "utf-8";
/* CSS Document */
body,th{font-family:Arial,"微软雅黑","宋体";font-size: 12px;color:#666666;margin: 0;list-style:none; background-color:#FFF;}
ul{margin:0; padding:0;}
li{list-style:none;}
form{ margin:0; padding:0;}
a{ cursor:pointer; color:#010101!important; text-decoration:none;  }
a:hover{ color:#a1a1a1!important; text-decoration:underline!important;}
.cl{ color:#efefef!important;}
.cl2{ color:#808080;}
tr{ height:25px;}
.czts{ float:left; width:600px; color:#444; margin-top:10px;  margin-left:10px;}
.czts label{ font-weight:bold;color:#88363c;}
.htop{ width:85%;min-width:980px;height:64px;margin:0 0 0 10px; background:url(../img/tiao.gif) repeat-x;}
.htop .htop_tit{ font-size:26px; color:#FFF; text-align:right; font-weight:bold; margin-right:50px; float:left; width:85%;min-width:800px; height:34px; margin-top:5px;}
.htop .htit{width:100px;margin:0 5px 0 5px; border-top:1px solid #000;border-left:1px solid #000;border-right:1px solid #000; float:left; text-align:center; height:24px; background: url(../img/tiao2.gif) repeat-x;font-size:16px; line-height:30px; cursor:pointer;}
.htop .htita{width:100px;margin:0 5px 0 5px; border-top:1px solid #000;border-left:1px solid #000;border-right:1px solid #000; float:left; text-align:center; height:24px; background: url(../img/tiao1.gif) repeat-x;font-size:16px; line-height:30px; color:#FFF;}
.htop .htita:hover{ background:url(../img/tiao1.gif) repeat-x;}
.htop .htita:hover a{ color:#FFF!important; font-size:16px; }
.htop .htit:hover{ background:url(../img/tiao1.gif) repeat-x;}
.htop .htit:hover a{ color:#FFF!important; font-size:16px; }
.htop_foot{width:85%;min-width:980px;height:24px;background:url(../img/tiao3.gif) repeat-x;margin:0 0 10px 10px; }
.htop_foot .htime{width:90%;min-width:800px; float:left;height:24px; line-height:24px; margin-left:10px;}
.htop_foot .htui{ float:left;height:24px;line-height:24px;}
.hleft{ width:14%; float:left; margin:0 5px 0 0; border:1px solid #dbdbdb; font-size:12px;}
.hleft .hf{ display:block;width:96%;  height:24px;background:url(../img/tiao3.gif) repeat-x; font-size:14px;line-height:25px; padding-left:5px;}
.hleft .hz{ float:left; background-color:#ECECEC; width:150px; margin:10px 0;}
.hright{ width:85%;  height:70%; min-height:420px;float:left;border:1px solid #dbdbdb;}
.hadd{width:700px;}
.hadd .hedit{ margin-top:10px;}
.hadd div{ width:700px;}
.hadd input{ margin-left:10px;margin-right:10px;}
.tb { margin-top:10px;}
.tb table{ text-align:center; color:#000; }
.htr{ background-color:#dbdbdb;}
.htou{ text-align:center; background-color:#d1d3d4; height:25px; line-height:25px;}
.hxg{ width:500px; font-size:14px;}
.hxg table tr { background-color:#efefef;}
.hxg table tr td input{ margin-right:8px;}
.hfoot{ float:left;width:85%;min-width:980px; background:url(../img/tiao4.gif) repeat-x; height:30px; margin-left:10px;}
.hbody{ float:left;width:85%;min-width:980px;margin-left:10px;}



/*登陆*/
.hdl{width:1000px; margin:0 auto 0 auto; height:622px; background-image:url(../img/dl.gif);}
.chala-corner{width:584px;font-size:12px;background-color:#;margin:148px 0 0 219px; float:left;}
.chala-content{height:360px;text-align:center;padding:0 5px;background-color:#e7e7e7;border-left:1px solid #e7e7e7;border-right:1px solid #e7e7e7}
.chala-content div{ float:left;}
.chala-content .hbt{ width:385px; height:60px; float:left; background-color:#454545; margin-left:100px; margin-right:90px; margin-top:-4px; font-size:28px; font-weight:bolder;line-height:180%; color:#FFF;}
.chala-content .hxx{ width:580px; margin-top:30px; text-align:left;}
.chala-content .hxx td{ font-size:16px; font-weight:bolder;}
.chala-content .hxx .td1{ font-size:14px; color:#F00; font-weight:normal;}
.chala-content .hxx td img{  margin-left:5px;}
.chala-content .hxx td input{ font-size:16px; }
.chala-content .hxx td a{ font-size:12px; }
.chala-content .hxx td a:hover{ text-decoration:underline!important; color:#a1a1a1!important;}
.chala{display:block;background-color:#;}
.chala *{display:block;height:1px;overflow:hidden;background-color:#;}
.chala1{margin:0px 2px;border-left:1px solid #727272;border-right:1px solid #727272;padding:0 1px;background-color:#ababab}
.chala2{margin:0px 1px;border-left:1px solid #e7e7e7;border-right:1px solid #e7e7e7;background-color:#e7e7e7}
.chala3{margin:0px 0px;border-left:1px solid #727272;border-right:1px solid #727272;background-color:#e7e7e7}
.chala4{margin:0px 0px;border-left:1px solid #ababab;border-right:1px solid #ababab;background-color:#e7e7e7}
.error{color:red;}
/**/


.dss_right{ height:183px; float:left; width:445px;}
.dss_right .ddh{ width:445px; float:left; height:17px; background-color:#e5e5e5;}
.dss_right .ddh .dzuo{ width:7px; height:17px; float:left; background:url(../img/jiantou.gif) 0px 0px; margin-left:3px; cursor:pointer;}
.dss_right .ddh .dqu { float:left; width:425px; height:15px; margin-top:2px;}
.dss_right .ddh .dqu ul li{ float:left; width:46px; border-right:1px solid #e5e5e5; text-align:center; background-color:#cccccc;}
.dss_right .ddh .dyou{ float:left; width:7px; hieght:17px; background:url(../img/jiantou.gif) -7px 0px; cursor:pointer; margin-left:1px;}
.dss_right .dsnr{ float:left; height:134px;  width:445px;}
.dss_right .dsnr .dssq{ float:left; margin-left:10px; margin-top:7px;width:435px;}
.dss_right .dsnr .dssq .dssq_nm{ float:left; color:#999999; width:70px;}
.dss_right .dsnr .dssq .dssq_lm{ float:left; width:360px;}
.dss_right .dsnr .dssq .dssq_lm ul li{ float:left; margin-right:10px;}
.dss_right .dsnr .dssq .dssq_lm ul li a{ color:#010101;}
.dss_right .dsnr .dssq .dssq_lm ul li a:hover{ color:#a1a1a1; text-decoration:underline!important;}
.dss_right .dsnr .dsmore{ float:left; width:50px; margin-top:5px; margin-left:370px;}
.dss_right .dsnr .dsmore a{ color:#a1a1a1;}
.dss_right .dsnr .dsmore a:hover{ color:#010101; text-decoration:underline!important;}
.dss_right .dgo{ float:left; width:445px;border-bottom:1px dashed #8c8a8a; background-color:#e5e5e5; height:30px;}
.dss_right .dgo .dgo_nr{ margin-left:25px; margin-top:5px; height:25px;width:420px; float:left;}
.dss_right .dgo .dgo_nr div{ float:left;}
.dss_right .dgo .dgo_nr div select{ width:100px; float:left;}
.dss_right .dgo .dgo_btn{ width:52px; height:20px; background:url(../img/ping.gif) -173px -266px; float:left;}
.dss_right .dgo .dhot{ float:left; width:420px; margin-left:25px; }
.dss_right .dgo .dhot ul li{ float:left; color:#a5a5a5;}
.dss_right .dgo .dhot ul li a{ color:#a5a5a5;}
.dss_right .dgo .dhot ul li a:hover{ color:#010101; text-decoration:underline!important;}

.dxqt{ width:576px;border-bottom:1px solid #c6c6c6; border-left:1px solid #c6c6c6; border-right:1px solid #c6c6c6; float:left; }
.dxqt .dbj{ width:11px; height:131px; background-color:#e5e5e5; float:left;}
.dxqt .dxx_tl{width:18px; height:131px; background-color:#e5e5e5; float:left;}
.dxqt .dxx_tl .dtl_dg{height:28px; width:15px; margin-bottom:1px; background-color:#FFF; cursor:pointer; padding-left:3px; padding-top:8px;}
.dxqt .dxx_tl .dtl_wd{ background-color:#c1c1c1; height:28px; width:15px; margin-bottom:1px; color:#7a7a7a;cursor:pointer;padding-left:3px;padding-top:8px;}
.dxqt .dxx_zj{ padding-left:15px; float:left;height:113px;margin-top:10px;width:166px;}
.dxqt .dxx_zj ul li{ width:165px; overflow:hidden;margin:3px 0;}
.dxqt .dxx_zj ul li a{ color:#010101;}
.dxqt .dxx_zj ul li a:hover{ color:#a1a1a1; text-decoration:underline!important;}
.dxqt .dxx_zj ul li label{ color:#a1a1a1;}
.dxx{ width:576px; border:1px solid #c6c6c6; float:left; height:130px; margin-top:4px;}
.dxx .dbj{ width:11px; height:131px; background-color:#e5e5e5; float:left;}
.dxx .dxx_tl{width:18px; height:131px; background-color:#e5e5e5; float:left;}
.dxx .dxx_tl .dtl_dg{height:33px; width:15px; margin-bottom:1px; background-color:#FFF; cursor:pointer; padding-left:3px; padding-top:3px;}
.dxx .dxx_tl .dtl_wd{ background-color:#c1c1c1; height:33px; width:15px; margin-bottom:1px; color:#7a7a7a;cursor:pointer;padding-left:3px;padding-top:3px;}
.dxx .dxx_top{ width:158px; margin-left:20px; margin-top:10px; float:left; height:113px; border-right:1px solid #dadada; border-right-style:dashed;}
.dxx .dxx_top .dxx_img{ width:90px; height:90px; border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5; float:left;}
.dxx .dxx_top .dxx_img img{ width:90px!important; height:90px!important;float:left;}
.dxx .dxx_top .dxx_xx{ float:left; width:60px;height:100px; margin:5px 0 5px 3px;}
.dxx .dxx_top .dxx_xx a{ color:#010101;}
.dxx .dxx_top .dxx_xx a:hover{ color:#a1a1a1; text-decoration:underline!important;}
.dxx .dxx_zj{ padding-left:15px; float:left;height:113px;margin-top:10px;border-right:1px solid #dadada; border-right-style:dashed;}
.dxx .dxx_zj ul li{ width:165px; overflow:hidden;margin:2px 0;}
.dxx .dxx_zj ul li a{ color:#010101;}
.dxx .dxx_zj ul li a:hover{ color:#a1a1a1; text-decoration:underline!important;}

.drdtj_lb{ float:left; width:550px; height:145px; border-bottom:1px dashed #a5a5a5; margin:20px 13px 0 13px;}
.drdtj_lb .drdtj_middle_left{ float:left; width:130px; height:140px; margin:0 25px;}
.drdtj_lb .drdtj_middle_left .drdtj_img{ float:left; width:128px; height:78px;}
.drdtj_lb .drdtj_middle_left .drdtj_img a img{ float:left; width:128px; height:78px; border:0;}
.drdtj_lb .drdtj_middle_left .drdtj_nm{ float:left; width:130px; font-weight:bolder; margin-top:5px; height:12px; overflow:hidden;}
.drdtj_lb .drdtj_middle_left .drdtj_nm label{ color:#666;}
.drdtj_lb .drdtj_middle_left .drdtj_nm a{ color:#333;}
.drdtj_lb .drdtj_middle_left .drdtj_nm a:hover{ color:#333; text-decoration:underline!important;}
.drdtj_lb .drdtj_middle_left .drdtj_pf{ float:left; width:90px; margin-left:20px; margin-right:20px;margin-top:5px; height:20px;}
.drdtj_lb .drdtj_middle_left .drdtj_pf ul li{ float:left; background-image:url(../img/axx.gif); width:13px; height:13px;}
.drdtj_lb .drdtj_middle_left .drdtj_rq{ float:left; width:130px; font-weight:bolder; margin-top:5px; height:12px; color:#333;}
.drdtj_lb .drdtj_middle_left .drdtj_rq label{ color:#666;}

/*商品上传开始*/
.hspsc{ float:left; }
.hspsc input{ font-size:12px;}
.hspsc select{ font-size:12px;}
.hspsc .htd{ font-size:14px; padding-left:20px;}
.hspsc .dpt_pic{ float:left; margin-left:5px; margin-top:5px; width:700px;}
.hspsc .dpt_pic .dpt_tp{ float:left; width:95px; height:120px; margin:5px 10px;}
.hspsc .dpt_pic .dpt_tp .dpt_img{ float:left;width:65px; height:65px; margin-left:15px;}
.hspsc .dpt_pic .dpt_tp .dpt_img img{width:65px!important; height:65px!important; float:left;}
.hspsc .dpt_pic .dpt_tp .dpt_sm{ float:left; width:90px; margin-top:5px; font-size:12px;}
.hspsc .dpt_pic .dpt_tp .dpt_sm input{ float:left; font-size:12px; width:95px;}
.hspsc .dpt_pic .dpt_tp .dpt_sc{ float:left; width:92px; text-align:center; margin-top:5px;}
.hspsc .dpt_pic .dpt_tp .dpt_sc a{ color:#010101;}
.hspsc .dpt_pic .dpt_tp .dpt_sc a:hover{ color:#b7b7b7; text-decoration:underline!important;}
.hspsc  .dpt_xz{ float:left; width:700px; margin-left:5px; margin-top:5px; ; padding-bottom:5px;}
.hspsc .dpt_xz input{ font-size:12px;}
.hspsc  .dpt_xz iframe{ background-color:#eeeeee;}
.hspsc  .dpt_xz iframe body{background-color:#eeeeee;}
.hspsc  .hlx{ float:left; width:730px;}
.hlx .hlx_top{ float:left; border-bottom:1px dashed #b1b1b1;width:730px;}
.hlx .dxsqg{ float:left; width:730px;}
.hlx .dtg{ float:left; width:730px;}
/*商品上传结束*/

/*属性分类配置开始*/
.hsxfl{ float:left; width:750px;}
.hsxfl_top{ float:left; font-size:16px; font-weight:bolder; color:#333; width:750px; text-align:center; margin:10px 0;}
.hsxfl_middle{ float:left; width:720px; margin:5px 15px;}
.hsxfl_middle .hsxfl_left{float:left; width:350px;}
.hsxfl_middle .hsxfl_left .hsxfl_left_top{ float:left; width:350px; text-align:center; color:#333; font-size:13px;}
.hsxfl_middle .hsxfl_left .hsxfl_left_kuang{ float:left; margin:5px; width:334px; border:3px solid #CCC;}
.hsxfl_left_kuang .hsxfl_left_sx{ float:left;  width:300px; padding:3px 17px;}
.hsxfl_left_kuang .hsxfl_left_sx:hover{float:left; width:300px; padding:3px 17px; background-color:#eeeeee;}
.hsxfl_left_kuang .hsxfl_left_sx_dz{float:left; width:300px; padding:3px 17px; background-color:#dbdbdb;}
.hsxfl_left_kuang .hsxfl_left_sx1{float:left; width:300px; padding:3px 17px; background-color:#eeeeee;}
.hsxfl_left_kuang .hsxfl_left_sx a{ display:block;}
.hsxfl_left_kuang .hsxfl_left_sx a:hover{ color:#333!important; text-decoration:underline; display:block;}
.hsxfl_middle .hsxfl_jt{float:left; margin-top:5px;}
.hsxfl_middle .hsxfl_right{ float:left;width:350px;}
.hsxfl_middle .hsxfl_right .hsxfl_right_top{ float:left; height:20px; width:350px; text-align:center; color:#333; font-size:13px;}
.hsxfl_middle .hsxfl_right .hsxfl_right_kuang{ float:left; margin:5px; width:334px; border:3px solid #CCC;}
.hsxfl_right_kuang .hsxfl_right_fl{ float:left; width:300px;padding:3px 17px;}
.hsxfl_right_kuang .hsxfl_right_fl input{ float:left;  padding:0px;}
.hsxfl_right_kuang .hsxfl_right_fl label{ float:left; margin-left:5px;}
.hsxfl_foot{ float:left; width:750px;  margin:5px 0;}
.hsxfl_foot input{ width:100px; float:left; margin-left:300px; height:25px; font-size:14px;}
.hsxfl_foot div{ float:left;  margin:5px 0 0 10px; color:#02DB38;}
/*属性分类配置结束*/

/*商品入库开始*/
.splk{ float:left; width:550px;}
.splk .spmn{ float:left; margin:5px 10px; width:530px;}
.splk .spmn label{ float:left; margin-right:5px;}
.splk .spgh{ float:left; margin:5px 10px; width:530px;}
.splk .spgh label{ float:left; margin-right:5px;}
.splk .spys{float:left; margin:5px 10px; width:530px;}
.splk .spys .spys_left{ float:left; width:30px;}
.splk .spys .spys_right{ float:left; width:500px;}
.spys_right .spys_ys{ float:left; margin-right:10px; margin-bottom:5px;width:66px;}
.spys_right .spys_ys input{ float:left; padding:0px; margin:2px 5px 0 0;}
.splk .spcc{float:left; margin:5px 10px; width:530px;}
.splk .spcc .spcc_left{ float:left;width:30px;}
.splk .spcc .spcc_right{ float:left; width:500px;}
.spcc_right .spcc_cc{ float:left; margin-right:10px; margin-bottom:5px; width:66px;}
.spcc_right .spcc_cc input{float:left; padding:0px; margin:2px 5px 0 0;}
.spcc_right .spcc_cc label{ float:left; margin-top:2px;}
.splk .spsl{ float:left; width:500px; margin:5px 10px; border:1px solid #CCC; }
.splk .spsl table{ text-align:center; color:#333;}
.spsl .spyc{ float:left; text-align:center; margin-left:25px;}
.spbj{ background-color:#eeeeee;}
.splk .splkk{ float:left; width:500px; margin:5px 10px; border:1px solid #CCC;}
.splk .splkk table{ text-align:center; color:#333;}
.splk .spxy{ float:left; width:530px; margin:5px 10px; }
.splk .spxy label{ float:left; margin-right:20px;}
.splk .spxy input{float:left; padding:0px; margin:0px; margin-right:5px;}
.splk .splk_foot{ float:left; margin:10px; padding-left:200px; width:330px;}
.splk .splk_foot input{ width:80px; height:25px; font-size:14px;}
/*商品入库结束*/
/*团购设置开始*/


.tgsz{ float:left; width:400px;}
.tgsz .tgsz_top{ float:left; width:400px; margin:5px 0; text-align:center; font-size:14px; color:#333;}
.tgsz .tgsz_middle{ float:left; width:400px; margin:5px 0; }

.tgsz_middle input{ font-size:12px;}
.tgsz .tgsz_foot{ float:left; width:400px;text-align:center; margin:5px 0; }
.tgsz_foot input{ width:60px; height:20px; font-size:12px;}
/*团购设置结束*/

/*环境设置开始*/
.hjsz{ float:left; width:750px;}
.hjsz .hjsz_top{ float:left; width:700px; text-align:center; font-size:14px; color:#333; margin:5px 0;}
.hjsz .hjsz_middle{ float:left; width:700px; margin:5px 0;}
.hjsz .hjsz_middle table{ text-align:center;}
.hjsz .hjsz_middle .qgsd{ float:left;  margin:5px;}
.hjsz .hjsz_middle .qgsd label{ margin-right:5px;}
.hjsz .hjsz_middle .qgsd input{ margin:0 3px; }
/*环境设置结束*/