.calender {
    width: 170px;
    height: auto;
    font-size: 12px;
    margin-right: 14px !important;
    background: right center aliceblue;
    border: 1px solid #BBB;
    padding: 1px;
    float:none !important;
    line-height:normal !important;
}
.calender div {
    margin-right: 14px !important;
    float:none !important;
    line-height:normal !important;
}

.calender ul {
    color:#666;
    list-style-type: none;
    background:none;
    margin: 0;
    padding: 0;
    height:auto;
}

.calender .day {
    background-color: #EDF5FF;
    height: 20px;
}

.calender .day li, .calender .date li {
    float: left;
    width: 14%;
    height: 20px;
    line-height: 20px;
    text-align: center
}

.calender li a {
    text-decoration: none;
    font-family: Tahoma;
    font-size: 11px;
    color: blueviolet;
}

.calender li a:hover {
    color: #f30;
    text-decoration: underline
}

.calender li a.hasArticle {
    font-weight: bold;
    color: #f60 !important
}

.lastMonthDate, .nextMonthDate {
    color: #bbb;
    font-size: 11px
}

.selectThisYear a, .selectThisMonth a {
    text-decoration: none;
    margin: 0 2px;
    color: #000;
    font-weight: bold
}

.calender .LastMonth, .calender .NextMonth {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
}

.calender .LastMonth {
    float: left;
}

.calender .NextMonth {
    float: right;
}

.calenderBody {
    clear: both
}

.calenderTitle {
    text-align: center;
    height: 20px;
    line-height: 20px;
    clear: both
}
.today {
    background-color: #ffffaa;
    border: 1px solid #f60;
    padding: 2px
}
.today a {
    color: #f30;
}
.calenderBottom {
    clear: both;
    border-top: 1px solid #ddd;
    padding: 3px 0;
    text-align: left
}
.calenderBottom a {
    text-decoration: none;
    margin: 2px !important;
    font-weight: bold;
    color: #000
}

.calenderBottom a.closeCalender {
    float: right
}

.closeCalenderBox {
    float: right;
    border: 1px solid #000;
    background: #fff;
    font-size: 9px;
    width: 11px;
    height: 11px;
    line-height: 11px;
    text-align: center;
    overflow: hidden;
    font-weight: normal !important
}
